---
import '@fontsource-variable/inter';
import '@fontsource-variable/lexend-deca';

import img1 from '../images/image-header-desktop.jpg';
import img2 from '../images/image-header-mobile.jpg'
---
<div class="w-full max-w-sm bg-pddblue rounded-lg font-lexen flex flex-col lg:flex-row-reverse lg:max-w-4xl">
    <div class="bg-psviolet rounded-t-lg lg:w-1/2 lg:rounded-r-lg">
        <img class="object-cover h-full rounded-t-lg opacity-50 lg:rounded-r-lg" src={img1.src} alt="">
    </div>
    
    <div class="text-pwhite px-12 lg:py-20 py-9 text-center lg:text-left lg:w-1/2 lg:items-center lg:justify-between flex flex-col">
        <div class="flex flex-col gap-3">
            <p class="text-3xl font-bold">Get <span class="text-psviolet">insights </span>that help your business grow.</p>
            <p class="text-pstwhite">Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency.</p>
        </div>
        <div class="flex flex-col gap-4 pt-10 font-inter lg:flex-row lg:justify-between w-full">
            <div>
                <p class="text-2xl">10k+</p>
                <p class="text-pstwhite uppercase text-xs tracking-widest">companies</p>
            </div>

            <div>
                <p class="text-2xl">314</p>
                <p class="text-pstwhite uppercase text-xs tracking-widest">templates</p>
            </div>

            <div>
                <p class="text-2xl">12M+</p>
                <p class="text-pstwhite uppercase text-xs tracking-widest">queries</p>
            </div>
        </div>
    </div>
</div>